.footer {
  width: 1200px;
  box-sizing: border-box;
  background: rgba(14, 14, 14, 1);
  margin: 120px auto 0;
  .footer-body {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    .mobile-sub {
      display: none;
    }

    // background: url(/images/icons/circle6.svg) no-repeat -100px -400px;
    .footer-top {
      padding: 16px 0;

      .logo {
        width: 122px;
        height: 50px;
      }

      .footer-share {
        gap: 16px;

        img {
          width: 36px;
        }

        a {
          display: flex;
          align-items: center;
        }
      }

      .subscribe-block {
        display: block;
        margin-left: 36px;
      }
    }

    .footer-bottom {
      display: flex;
      margin-top: 42px;

      .footer-item {
        flex: 1.5;

        label {
          color: var(--white);
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 24px;
          padding-left: 16px;
        }
        > div {
          > div {
            gap: 8px;
            text-align: left;
          }

          span,
          a {
            color: #cfcfcf;
            font-size: 16px;
            padding: 4px 16px;
            &:hover {
              background: rgba(255, 255, 255, 0.05);
            }
          }
        }

        &:first-child {
          flex: 1;
          align-items: flex-start;
        }

        &:last-child {
          flex: 1;
          // flex-direction: row-reverse;
          align-items: end;
        }
      }
    }
  }

  .circle6 {
    position: relative;

    img {
      position: absolute;
      z-index: -1;
      left: 100px;
      top: -150px;
      width: 382px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 40px;
    .footer-body {
      padding-top: 20px;

      .mobile-sub {
        display: flex;
        justify-content: center;

        :deep().subscribe {
          font-size: 18px;

          > input {
            font-size: 16px;

            &::-webkit-input-placeholder {
              font-size: 16px;
            }
          }
        }
      }

      .footer-top {
        padding-top: 40px;

        .subscribe-block {
          display: none;
        }
      }

      .footer-bottom {
        display: none;
      }
    }
  }
}
