<div class="footer">
    <div class="footer-text max-width1440">
        <div class="flex">
            <div class="footer-left flex">
                <img src="/images/header/logo_white.png" alt="">
            </div>
            <div class="footer-share flex max-width1440">
                <!-- <a target="_blank" class="mr-15" href="https://www.woowow.io/">
                    <img src="/images/wowow.png" alt="">
                </a>
                <a target="_blank" class="mr-15" href="https://twitter.com/DimAIGlobal">
                    <img src="/images/homePage/link01.png" alt="">
                </a>
                <a target="_blank" class="mr-15" href="https://t.me/DimAIOfficial">
                    <img src="/images/homePage/link02.png" alt="">
                </a>
                <a target="_blank" class="mr-15" href="https://discord.gg/yTVjqAwp2j">
                    <img src="/images/homePage/link03.png" alt="">
                </a>
                <a target="_blank" href="https://dimaiglobal.medium.com/">
                    <img src="/images/homePage/link03.svg" alt="">
                </a> -->
            </div>
        </div>
    </div>

</div>