<div class="introduce">
  <div class="intro-text">
    <p class="p1">Qitmeer Network</p>
    <p class="p2">
      A High-Performance Public Blockchain Based on the MeerDAG Consensus
    </p>
    <p class="p3">
      Exploring an Efficient, Secure, and Decentralized Blockchain Network
    </p>
  </div>
</div>
<div class="content-block">
  <div class="cards">
    <div class="card-item">
      <div class="item-left">
        <p class="p1">DimAI</p>
        <p class="p2">AIGC-Powered One-Stop NFT Creation Platform</p>
        <p class="p3">
          Unleash the value of AI creation, stimulate your creativity, and
          create unique AI works.
        </p>
      </div>
      <div class="item-right"><img src="/images/index/dimai.svg" alt="" /></div>
    </div>
    <div class="card-item shadow">
      <div class="item-left">
        <p class="p1">Woowow</p>
        <p class="p2">AI Agent-Based NFT Trading Platform</p>
        <p class="p3">Woolow leads the path of NFT innovation!</p>
      </div>
      <div class="item-right">
        <img src="/images/index/woowow.svg" alt="" />
      </div>
    </div>
    <div class="card-item card-item3">
      <div class="item-left">
        <p class="p1">Advertising for Rent</p>
        <p class="p2">Brand Display for Lease</p>
        <p class="p3">
          Join our partnership program and amplify your brand globally among the
          blockchain community!
        </p>
      </div>
      <div class="item-right"><img src="/images/index/dimai.svg" alt="" /></div>
    </div>
  </div>
  <div class="tool">
    <div class="title">
      <span>Tool</span>
      <i class="circle"></i>
      <span>Module Collection</span>
    </div>
    <div class="tool-body">
      <div class="tool-left">
        <div class="tool-item" v-for="(item,i) in tool" :key="i">
          <p class="p1">{{item.title}}</p>
          <p class="p2">{{item.txt}}</p>
        </div>
      </div>
      <div class="tool-right">
        <img src="/images/index/tool.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="cell1"></div>
  <div class="welcom"></div>
  <div class="cell2"></div>
  <div class="ecological">
    <div class="title">
      <span>Ecological</span>
      <i class="circle"></i>
      <span>Project display</span>
    </div>
    <div class="eco-cards">
      <div class="eco-item"></div>
    </div>
  </div>
</div>
