<div class="contract-deployment mt-36">
    <div class="header flex">
        <div class="introduce">
            <p class="title">Smart Contract <br /> Deployment</p>
            <p class="text mt-15">Save the generated contract to your contracts directly and compile it using tools like
                Hardhat or Truffle. For more detailed guidance, refer to our development documentation.（开发文档连接暂时没有）</p>
        </div>
        <img src="/images/contract/deployment.png" alt="">
    </div>
    <div class="wizard">
        <p class="title">Contracts Wizard</p>
        <p class="text mt-16">Qitmeer Network offers standardized smart contract templates, including token
            implementations, contract controls, and licensing agreements, for quick deployment.</p>
    </div>

    <div class="contract-editor flex mt-60">
        <!-- <contractEdit /> -->
        <!-- 右侧的内容显示 -->
        <contractContent />
    </div>
</div>