.root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #0F0B1F;
    /* background: url('../assets/MainPage/bg_blackandline.jpg') center top repeat; */
    /* background-size: 100vw 100vh; */
}
.root::-webkit-scrollbar {  
    display: none;  
  }

.header {
    position: sticky;
    width: 100%;
    height: .7rem;
    top: 0;
    /* transition: top 300ms cubic-bezier(.4, 0, 0, .2, 1) 0ms; */
    z-index: 100;
    /* backdrop-filter: blur(8px); */
    /* box-shadow: inset 0px 1px #E5EAF2; */
    /* background-color: rgba(9, 9, 4, .8); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 7.03rem;
    width: 14.4rem;
    margin-top: .63rem;
    background-image: url(./assets/bg01.png);
    background-size: 14.4rem 7.03rem;
    position: relative;
}

.light {
    height: 7.03rem;
    width: 14.4rem;
    background-image: url(./assets/light.png);
    background-size: 14.4rem 7.03rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn 2s ease-in-out; /* 设置动画效果，持续时间为2秒 */  

    z-index: 17;
}

/* 使用CSS动画 */  
@keyframes fadeIn {  
    0% {  
      opacity: 0; /* 初始状态，透明度为0 */  
    }  
    100% {  
      opacity: 1; /* 结束状态，透明度为1 */  
    }  
}  

.title {
    height: 1.88rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.title>img {
    height: 1.88rem;
    width: 5.84rem;
}

@keyframes float {  
    0% {  
      transform: translateY(0);  
    }  
    50% {  
      transform: translateY(-10px);  
    }  
    100% {  
      transform: translateY(0);  
    }  
}  

@keyframes floatD {  
    0% {  
      transform: translateY(0);  
    }  
    50% {  
      transform: translateY(10px);  
    }  
    100% {  
      transform: translateY(0);  
    }  
}  

/* 四种浮动样式 */
.floatU_T {  
    animation: floatD 2s infinite ease-in-out;  
}

.floatU_O {
    animation: floatD 1s infinite ease-in-out; 
}

.floatD_T {
    animation: float 2s infinite ease-in-out;  
}

.floatD_O {
    animation: float 1s infinite ease-in-out; 
}

.png_qitmeer {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 4.57rem;
    left: 6.64rem;
}

.png_harmer {
    width: 1.7rem;
    height: 1.3rem;
    position: absolute;
    top: 2.72rem;
    left: 8.38rem;
    transform: rotate(9.83deg);
}

.png_box {
    width: .58rem;
    height: .58rem;
    position: absolute;
    top: 3.17rem;
    left: 5.97rem;
    transform: rotate(-29.75deg);
}

.png_coin {
    width: .7rem;
    height: .77rem;
    position: absolute;
    top: 3.73rem;
    left: 4.9rem;
}

.png_qitmeer>img{
    width: 100%;
    height: 100%;
    z-index: 23;
}

.png_nut {
    width: .28rem;
    height: .27rem;
    position: absolute;
    left: 2.74rem;
    top: 2.37rem;
    transform: rotate(-19.85deg);
}

.png_ball02 {
    width: .29rem;
    height: .29rem;
    position: absolute;
    left: 7.14rem;
    top: 2.43rem;
}

.png_screw01 {
    width: .19rem;
    height: .33rem;
    position: absolute;
    left: 6.14rem;
    top: 4.27rem;
    transform: rotate(-136.76deg)
}

.png_screw02 {
    width: .19rem;
    height: .33rem;
    position: absolute;
    top: 2.36rem;
    left: 10.93rem;
    transform: rotate(-30deg);
}

.png_gear {
    width: .55rem;
    height: .54rem;
    position: absolute;
    top: 2.18rem;
    left: 8.27rem;
}

.png_ball03 {
    width: .55rem;
    height: .55rem;
    position: absolute;
    top: 4.53rem;
    left: 10.05rem;
}

.png_ball01 {
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: 5rem;
    left: 9.54rem;
    transform: rotate(-32.9deg);
}