.root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #0F0B1F;
    /* background: url('../assets/MainPage/bg_blackandline.jpg') center top repeat; */
    /* background-size: 100vw 100vh; */
}
.root::-webkit-scrollbar {  
    display: none;  
  }

.header {
    position: sticky;
    width: 100%;
    height: .7rem;
    top: 0;
    transition: top 300ms cubic-bezier(.4, 0, 0, .2, 1) 0ms;
    z-index: 100;
    backdrop-filter: blur(8px);
    box-shadow: inset 0px 1px #E5EAF2;
    background-color: rgba(9, 9, 4, .8);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header_content {
    width: 100%;
    padding-left: 1.58rem;
    padding-right: 1.58rem;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    height: 100%;
    display: flex;
    align-items: center;
    width: auto;
}

.header_left>img {
    width: 1.22rem;
    height: .51rem;
}

.header_center {
    width: 2.4rem;
    height: 100%;
    line-height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: PingFang SC;
    font-size: .18rem;
    font-weight: 600;
    letter-spacing: 0em;
}

.header_center>div {
    cursor: pointer;
    user-select: none;
}

.header_right {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.language {
    width: .46rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    font-family: PingFang SC;
    font-size: .18rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: #24FF24;
    border: solid .01rem #24FF24;
    border-radius: .09rem;
    cursor: pointer;
    user-select: none;
}

.wallet {
    height: .4rem;
    width: 1.44rem;
    text-align: center;
    line-height: .4rem;
    margin-left: .16rem;
    font-family: PingFang SC;
    font-size: .18rem;
    font-weight: 400;
    letter-spacing: 0em;
    color: #0F0B1F;
    background-color: #24FF24;
    border-radius: .09rem;
    border-top: solid .01rem #fff;
    border-left: solid .01rem #fff;
    border-right: solid .01rem #fff;
    border-bottom: solid .04rem #fff;
    cursor: pointer;
    user-select: none;
}

.content {
    height: 7.03rem;
    width: 15.78rem;
    margin: .63rem auto 0;
    background-image: url(./assets/bg01.png);
    background-size: 14.4rem 7.03rem;
    position: relative;
}

/* .light {
    height: 7.03rem;
    width: 14.4rem;
    background-image: url(./assets/light.png);
    background-size: 14.4rem 7.03rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn 2s ease-in-out; 
    z-index: 17;
} */

.light {
    height: 7.03rem;
    width: 14.4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: fadeIn 4s ease-in-out;

    z-index: 17;

    overflow: hidden;
}

.light>img {
    height: 7.03rem;
    width: 14.4rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* 使用CSS动画 */  
@keyframes fadeIn {  
    0% {  
      opacity: 0; /* 初始状态，透明度为0 */  
    }  
    100% {  
      opacity: 1; /* 结束状态，透明度为1 */  
    }  
}

.title {
    height: 1.88rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.title>img {
    height: 1.88rem;
    width: 5.84rem;
}

@keyframes float {  
    0% {  
      transform: translateY(0);  
    }  
    50% {  
      transform: translateY(-10px);  
    }  
    100% {  
      transform: translateY(0);  
    }  
}  

@keyframes floatD {  
    0% {  
      transform: translateY(0);  
    }  
    50% {  
      transform: translateY(10px);  
    }  
    100% {  
      transform: translateY(0);  
    }  
}  

/* 四种浮动样式 */
.floatU_T {  
    animation: floatD 4s infinite ease-in-out;  
}

.floatU_O {
    animation: floatD 3s infinite ease-in-out; 
}

.floatD_T {
    animation: float 4s infinite ease-in-out;  
}

.floatD_O {
    animation: float 3s infinite ease-in-out; 
}

.png_qitmeer {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 4.57rem;
    left: 6.64rem;
}

.png_harmer {
    width: 1.7rem;
    height: 1.3rem;
    position: absolute;
    top: 2.72rem;
    left: 8.38rem;
    transform: rotate(9.83deg);
}

.png_box {
    width: .58rem;
    height: .58rem;
    position: absolute;
    top: 3.17rem;
    left: 5.97rem;
    transform: rotate(-29.75deg);
}

.png_coin {
    width: .7rem;
    height: .77rem;
    position: absolute;
    top: 3.73rem;
    left: 4.9rem;
}

.png_qitmeer>img{
    width: 100%;
    height: 100%;
    z-index: 23;
}

.png_nut {
    width: .28rem;
    height: .27rem;
    position: absolute;
    left: 2.74rem;
    top: 2.37rem;
    transform: rotate(-19.85deg);
}

.png_ball02 {
    width: .29rem;
    height: .29rem;
    position: absolute;
    left: 7.14rem;
    top: 2.43rem;
}

.png_screw01 {
    width: .19rem;
    height: .33rem;
    position: absolute;
    left: 6.14rem;
    top: 4.27rem;
    transform: rotate(-136.76deg)
}

.png_screw02 {
    width: .19rem;
    height: .33rem;
    position: absolute;
    top: 2.36rem;
    left: 10.93rem;
    transform: rotate(-30deg);
}

.png_gear {
    width: .55rem;
    height: .54rem;
    position: absolute;
    top: 2.18rem;
    left: 8.27rem;
}

.png_ball03 {
    width: .55rem;
    height: .55rem;
    position: absolute;
    top: 4.53rem;
    left: 10.05rem;
}

.png_ball01 {
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: 5rem;
    left: 9.54rem;
    transform: rotate(-32.9deg);
}

/* 下部链接 */

.routers {
    width: 19.2rem;
    height: 8.42rem;
    margin-top: .2rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.router_title {
    height: .58rem;
    line-height: .58rem;
    text-align: center;
    font-size: .46rem;
    color: #fff;
}

.router_in {
    font-size: .24rem;
    margin-top: .31rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .26rem;
}

.router {
    color: #9F9F9F;
    cursor: pointer;
    user-select: none;
}

.router_active {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

/* 功能模块 */
.router_grid {
    width: 10.41rem;
    height: 5.98rem;
    display: grid;  
    grid-template-columns: 1.75fr 1fr; /* 两列，比例为2:1 */  
    grid-template-rows: 1fr 1fr 1fr; /* 三行，每行高度一致 */  
    gap: .24rem; /* 根据需要调整元素间距离 */  

    margin-top: .31rem;
    font-size: .24rem;
}  

.grid_item:hover {
    background: linear-gradient(0deg, rgba(242, 242, 242, 0.16), rgba(242, 242, 242, 0.16));
    border: 1px solid #24FF24;
}

.grid_item:hover .grid_item_icon {
    animation: float 2s infinite ease-in-out;
}

.grid_item:hover .grid_item_btn {
    background-color: #24FF24;
    color: #0F0B1F;
    border: 0;
}

.grid_item {
    background-color: rgba(242,242,242,.08);
    border-radius: .36rem;
    position: relative;
    display: flex;
    align-items: center;
}

.grid_item_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .12rem;
    color: #24FF24;
    width: 20%;
    text-align: center;
    border: .01rem solid #24FF24;
    border-radius: .32rem;
    cursor: pointer;
    user-select: none;
}

.grid_item_icon {
    height: 80%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_item_content {
    width: 40%;
    height: auto;
    max-height: 90%;
    margin-left: 5%;
}

/* 在第一列的元素 */  
.grid_item01 {  
    grid-row: 1 / span 2; /* 这两个元素位于第一行，跨越两列 */
}

.grid_item01 .grid_item_btn {
    height: .42rem;
    line-height: .42rem;
    bottom: .32rem;
    right: .32rem;
    font-size: .16rem;
}

.grid_item01 img {
    width: 1.9rem;
    height: 1.95rem;
}

.grid_item01 .grid_item_content {
    height: 50%;
    max-height: 60%;
}

.grid_item01 .grid_item_title {
    font-size: .48rem;
    color: #fff;
}

.grid_item01 .grid_item_text {
    font-size: .16rem;
    color: #C2C2C2;
}

.grid_item02 {
    grid-row: 3;
}

.grid_item02 .grid_item_btn {
    height: .32rem;
    line-height: .32rem;
    bottom: .24rem;
    right: .32rem;
    font-size: .16rem;
}

.grid_item02 img {
    width: 1.31rem;
    height: 1.48rem;
}

.grid_item02 .grid_item_text, .grid_item03 .grid_item_text, .grid_item04 .grid_item_text, .grid_item05 .grid_item_text {
    font-size: .12rem;
    color: #C2C2C2;
}
  
.grid_item02 .grid_item_title, .grid_item03 .grid_item_title, .grid_item04 .grid_item_title, .grid_item05 .grid_item_title { 
    font-size: .24rem;
    color: #fff;
}

.grid_item03 .grid_item_btn, .grid_item04 .grid_item_btn, .grid_item05 .grid_item_btn {
    height: .24rem;
    line-height: .24rem;
    bottom: .16rem;
    right: .24rem;
    font-size: .12rem;
}

.grid_item03 img {
    width: .79rem;
    height: .92rem;
}

.grid_item04 img {
    width: .93rem;
    height: 1.06rem;
}

.grid_item05 img {
    width: .9rem;
    height: 1.02rem;
}
