<div class="header-out flex-center" v-route-loading="confirmLoading">
  <div class="header max-width1440 flex-between flex-center">
    <a href="/index">
      <img src="/images/header/logo2.png" alt="" class="logo" />
    </a>
    <!-- 中间菜单栏 -->
    <div class="tool-menus">
      <div class="menu-list flex">
        <div class="menus-item mr-38" v-for="(item,i) in menus" :key="i">
          <span v-if="item.path" @click="goPath(item.path)">{{item.name}}</span>
          <span v-else>{{item.name}}</span>
          <img
            v-if="item.child && item.child.length>0"
            src="/images/icons/zoom.svg"
            alt=""
          />
          <div
            v-if="item.child && item.child.length>0"
            class="menus-item-children"
          >
            <div class="menu-item-list">
              <p
                v-for="(child,c) in item.child"
                :key="c"
                @click="goPath(child.path)"
              >
                {{child.name}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex header-rignt">
      <div class="preset-network mr-16">
        <p>
          {{chainIdCheckName || '选择预设网络'}}
          <img src="/images/icons/zoom.svg" alt="" />
        </p>
        <div class="network-select" v-if="chainsData">
          <div>
            <p
              class="pl-24"
              :class="{'check':item.id == chainIdCheck}"
              v-for="item in chainsData"
              :key="index"
              @click="changeChainIdFn(item.id)"
            >
              {{ item.name }}
            </p>
          </div>
        </div>
      </div>
      <!-- 登录 -->
      <div class="wallt-loginout" v-if="!isLogin" @click="loginWallt = true">
        Connect Wallet
      </div>
      <div class="wallt-login flex-center" v-else>
        {{omit(address)}}
        <div class="wallt-loginout ml-16" @click="disconnect();isLogin = false">
          Disconnect
        </div>
      </div>
      <img
        class="switch-layout"
        src="/images/icons/switchLayout1.svg"
        @click="switchMenu"
      />
    </div>
  </div>
</div>

<!-- 登录 -->
<dialogModal v-model="loginWallt" @close="loginWallt = false">
  <div
    class="connect-wallt pl-25 pr-25"
    v-for="connector in connectors"
    :key="connector.id"
    @click="connectLogin({ connector, chainId })"
  >
    {{ connector.name }}
  </div>
</dialogModal>

<div class="menu-block" :class="{'scale1':showMenu}">
  <div class="close-div">
    <img src="/images/icons/closeW.svg" alt="" @click="showMenu=false" />
  </div>
  <div class="flex-between mobile-top">
    <a href="/index">
      <img src="/images/header/logo2.png" alt="" class="logo" />
    </a>
    <!-- 登录 -->
    <div class="wallt-loginout" v-if="!isLogin" @click="loginWallt = true">
      Connect Wallet
    </div>
    <div class="wallt-login flex-center" v-else>
      {{omit(address)}}
      <div class="wallt-loginout ml-16" @click="disconnect();isLogin = false">
        Disconnect
      </div>
    </div>
  </div>
  <div class="menu-items flex">
    <Menu :menu="menus"></Menu>
  </div>
</div>
