<div class="header-out flex-center" v-route-loading="confirmLoading">
  <div class="header max-width1440 flex-between flex-center">
    <a href="/index">
      <img src="/images/header/logo2.png" alt="" class="logo" />
    </a>
    <!-- 中间菜单栏 -->
    <div class="tool-menus">
      <div class="menu-list flex">
        <div class="menus-item mr-38" v-for="(item,i) in menus" :key="i">
          <span v-if="item.path" @click="goPath(item.path)">{{item.name}}</span>
          <span v-else>{{item.name}}</span>
          <img v-if="item.child && item.child.length>0" src="/images/icons/zoom.svg" alt="" />
          <div v-if="item.child && item.child.length>0" class="menus-item-children">
            <div class="menu-item-list">
              <p v-for="(child,c) in item.child" :key="c" @click="goPath(child.path)">
                {{child.name}}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="menus-item mr-38">
                    区块浏览器
                </div>
                <div class="menus-item mr-38">
                    生态项目
                    <img src="/images/icons/zoom.svg" alt="">
                </div>
                <div class="menus-item mr-38">
                    Qitmeer官网
                </div> -->
      </div>
    </div>
    <!-- 登录 -->
    <div class="wallt-loginout" v-if="!isLogin" @click="loginWallt = true">
      Connect Wallet
    </div>
    <div class="wallt-login flex-center" v-else>
      {{omit(address)}}
      <div class="wallt-loginout ml-16" @click="disconnect();isLogin = false">
        Disconnect
      </div>
    </div>
    <!-- <div>
      <p>选择预设网络</p>
      <a-select v-if="chainsData && chainsData.length" class="select-box" size="small" placeholder="rpc url"
        v-model:value="chainIdCheck" @change="changeChainId">
        <a-select-option v-for="item in chainsData" :key="index" :value="item.id">
          {{ item.name }}
        </a-select-option>
      </a-select>
    </div> -->
  </div>
</div>

<!-- 登录 -->
<dialogModal v-model="loginWallt" @close="loginWallt = false">
  <div class="connect-wallt pl-25 pr-25" v-for="connector in connectors" :key="connector.id"
    @click="connectLogin({ connector, chainId })">
    {{ connector.name }}
  </div>
</dialogModal>