.root {
    width: 100vw;
    height: auto;
    position: relative;
    font-weight: 400;
    letter-spacing: 0;
    /* background-color: #090904; */
    background: url('../assets/MainPage/bg_blackandline.jpg') center top repeat;
    /* background-size: 100vw 100vh; */
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    transition: top 300ms cubic-bezier(.4, 0, 0, .2, 1) 0ms;
    z-index: 100;
    backdrop-filter: blur(8px);
    /* box-shadow: inset 0px 1px #E5EAF2; */
    background-color: rgba(9, 9, 4, .8);
}

.header_content {
    width: 100%;
    max-width: 14.4rem;
    padding-left: .24rem;
    padding-right: .24rem;
    min-height: .6rem;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_buttons {
    width: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_button {
    width: 1.2rem;
    text-align: center;
    font-size: .2rem;
    color: #fff;
    background-color: transparent;
    position: relative;
    /* mui的样式 */
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    outline: 0;
    border: 0;
    letter-spacing: .02857em;
    /* text-transform: uppercase; */
    /* transition: background-color 250ms cubic-bezier(); */
}

.top_button:focus {
    border: 0;
    outline: 0;
    transition-duration: 0.5s;
}

.active_top_btn {
    color: #31EB31;
    background-color: rgba(0, 0, 0, .1);
}

.top_dialog {
    position: absolute;
    top: .77rem;
    left: -0.4rem;
    flex-direction: column;
    align-items: center;
    
    height: auto;
    width: auto;
    background: url(../assets/MainPage/rectangle_dialog.png) no-repeat 100% 100%;
}

.top_dialog>p {
    height: .35rem;
    width: 1.4rem;
    margin: .2rem .3rem;
    color: #fff;
    font-size: .18rem;
    line-height: 1;
}

.active_top_dia {
    color: #31EB31 !important;
    border-bottom: #31EB31 solid 2px;
}

.top_dialog>p:first-child {
    margin-top: .27rem;
}

.logo_top_left {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.logo_top_left>img {
    width: 1.36rem;
    margin-left: .05rem;
    cursor: pointer;
}

.btns_header_right {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn_group {
    /* width: 1.92rem; */
    height: .36rem;
    margin-right: .36rem;
    cursor: pointer;
}

.btn_en {
    /* width: .36rem; */
    height: .36rem;
    margin-right: .36rem;
    cursor: pointer;
}

.btn_wallet {
    height: .36rem;
    /* width: 1.2rem; */
    margin-right: .05rem;
    cursor: pointer;
}

.content {
    width: 100%;
    height: auto;
    margin-top: 1.7rem;
}

.content>p:first-child {
    color: #fff;
    font-size: .52rem;
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    margin: 0;
}

.content>p:last-child {
    color: #fff;
    font-size: .24rem;
    height: .33rem;
    line-height: .33rem;
    text-align: center;
    margin: .19rem 0 0;
}

.btns_center {
    margin-top: .74rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_middle_left {
    color: #090904;
    width: 2.05rem;
    height: .53rem;
    text-align: center;
    font-size: .2rem;
    border-radius: .1rem;
    background-color: #31EB31;
    /* mui的样式 */
    cursor: pointer;
    border: 0;
    user-select: none;
    vertical-align: middle;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: .02857em;
    /* text-transform: uppercase; */
    /* transition: background-color 250ms cubic-bezier(); */
}

.btn_middle_right {
    color: #fff;
    margin-left: .24rem;
    width: 2.05rem;
    height: .53rem;
    text-align: center;
    font-size: .2rem;
    border-radius: .1rem;
    background-color: #090904;
    border: .01rem solid #31EB31;
    /* mui的样式 */
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: .02857em;
    /* text-transform: uppercase; */
    /* transition: background-color 250ms cubic-bezier(); */
}

.search_line {
    margin-top: .72rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_area {
    width: 7.67rem;
    height: .66rem;
    border-radius: .08rem;
    border: .01rem solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_area>input {
    width: 4rem;
    margin-left: .3rem;
    height: .44rem;
    border: 0;
    outline: 0;
    font-size: .2rem;
    padding: 0 auto;
    background-color: transparent;
    color: #fff;
}

.search_area>div {
    font-size: .2rem;
    border-radius: 0 .08rem .08rem 0;
    background-color: #31EB31;
    color: #fff;
    width: 2.35rem;
    height: .67rem;
    line-height: .67rem;
    text-align: center;
    
    cursor: pointer;

}
@media (hover: hover) {
    .search_area>div:hover {
        background: #32C176;
        border-color: #fff;
        transition-duration: 0.5s;
    }
}

.remark_area {
    width: 7.67rem;
    margin-top: .27rem;
    padding-left: .07rem;
    font-size: .14rem;
    height: .2rem;
    line-height: .2rem;
    text-align: left;
    color: #fff;
}

.content_two {
    width: 100%;
    margin-top: 1.54rem;
    height: 7.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/MainPage/background_bottom.png");
    background-repeat: no-repeat;
    background-size: 20.92rem 5.16rem;
    background-clip: border-box;
    background-position: bottom;
}

.content_two>p {
    color: #fff;
    font-size: .48rem;
    height: .66rem;
    line-height: .66rem;
    text-align: center;
    margin: 0;
}

.routers {
    margin-top: .44rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.router {
    height: 3.53rem;
    width: 3.27rem;
    border-radius: .08rem;
    position: relative;
    background-color: rgba(31,31,30,.85);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .2rem;
}

.router>img {
    width: 1rem;
    height: 1rem;
    margin-top: .34rem;
}

.router_content {
    height: auto;
    width: 100%;
    margin-top: .3rem;
}

.router_content>p:first-child {
    font-size: .24rem;
    color: #fff;
    height: .33rem;
    line-height: .33rem;
    text-align: center;
}

.router_content>p:last-child {
    font-size: .14rem;
    margin-top: .14rem;
    color: #fff;
    height: auto;
    line-height: .2rem;
    text-align: center;
}

.router_last {
    position: absolute;
    top: 2.76rem;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.router_btn {
    width: 2.05rem;
    height: .53rem;
    background: #31EB31;
    border-radius: .1rem;
    text-align: center;
    line-height: .53rem;
    font-size: .2rem;
}

.copy_right {
    width: 100%;
    height: auto;
    margin-top: 1.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy_right>img {
    /* width: 14.4rem; */
    width: 100%;
    height: 1.5rem;
}

.trans_data {
    width: 17.2rem;
    display: flex;
    align-items: center;
    height: 7.8rem;
    color: #fff;
    margin: 0 1rem;
}