.contract-content {
	width: 929px;
	height: 1310px;
	border-radius: 8px;
	background: rgba(25, 26, 28, 1);
	backdrop-filter: blur(40px);
	overflow: hidden;

	input {
		color: #000;
		font-size: 14px;
	}
}