.batch-transfer {

    h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
    }

    .header {
        background-image: url(images/batchTransfer/header.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        min-width: 1920px;
        padding: 0 360px;
        margin: 0 auto;
        height: 240px;
        justify-content: space-around;
        align-items: center;

        .header-text {

            h2 {
                font-size: 48px;
                font-weight: 600;
                letter-spacing: 0px;
                line-height: 48px;
                color: #fff;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 20px;
                color: rgba(154, 154, 154, 1);
            }
        }

        img {
            width: 318px;
            height: auto;
        }

    }

    .wallt-id,
    .currency {
        width: 100vw;
    }

    .wallt-id {
        height: 146px;
        justify-content: space-around;
        align-items: center;

        .wallt-id-area {
            width: 100%;
            margin: auto 360px;
            background: rgba(255, 255, 255, 0.05);
            padding: 40px 24px;
            justify-content: space-between;

            .id {

                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                color: rgba(255, 255, 255, 1);

                .id-address {
                    align-items: center;

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 16px;
                        color: rgba(154, 154, 154, 1);
                    }

                    img {
                        width: 26px;
                        height: 26px;
                        cursor: pointer;
                    }
                }
            }

            >p {
                height: 48px;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                color: rgba(172, 255, 67, 1);
                border: 1px solid rgba(172, 255, 67, 1);
                padding: 16px 40px;
                cursor: pointer;
            }
        }
    }

    .currency {
        padding: 0 360px;

        .ant-select {
            width: 100%;
            height: 64px;

            :deep(.ant-select-selector) {
                height: 64px;
                display: flex;
                padding-left: 16px;
                justify-content: space-between;
                background-color: transparent;
                border: 1px solid rgba(49, 49, 49, 1);
                border-radius: 8px;


                .ant-select-selection-search-input {
                    font-size: 16px;
                    color: #fff;
                    height: 100% !important;
                }

                .ant-select-selection-search {
                    right: 80px;
                    left: 16px;
                    font-size: 16px;
                }

                .ant-select-selection-placeholder {
                    font-size: 16px;
                    line-height: 64px;
                }

                &:after {
                    position: absolute;
                    right: 10px;
                    top: 14px;
                    z-index: 100;
                    height: 32px;
                    width: 60px;
                    display: block;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.1);
                    content: '';
                    background-image: url(images/icons/zoom.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    color: #fff;
                    visibility: visible
                }
            }
        }

    }

    .table-address {
        .header {
            height: 80px;
        }

        .text-demo {
            justify-content: space-between;

            .text {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: rgba(154, 154, 154, 1);
            }

            .demo {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: rgba(172, 255, 67, 1);
                cursor: pointer;
            }
        }
    }

    .table-list {
        width: 100%;
        padding: 0 360px;
        box-sizing: border-box;

        table {
            width: 100%;
            background-color: transparent;

            tr {
                height: 64px;
                text-align: center;
                color: #fff;
                background-color: transparent;
                border: 1px solid rgba(49, 49, 49, 1);

                th,
                td {
                    background-color: transparent;
                    font-weight: 500;
                    padding: 0 20px 0 10px;
                    font-size: 16px;
                    line-height: 64px;
                    border: 1px solid rgba(49, 49, 49, 1);

                    &:nth-child(1) {
                        width: 100px;
                    }

                    &:nth-child(2) {
                        width: 600px;
                    }

                    &:nth-child(3) {
                        width: 340px;
                    }

                    &:nth-child(4) {
                        width: 160px;
                        cursor: pointer;
                    }

                    input {
                        width: 100%;
                        padding: 0 20px;
                        font-size: 16px;
                        color: #fff;
                        background-color: transparent;
                        border: 0;
                        text-align: center;
                    }

                    input[type="number"] {
                        -moz-appearance: textfield;
                        /* Firefox */
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        /* Chrome, Safari 和 Opera */
                        margin: 0;
                    }
                }
            }
        }

        .add-address {
            width: 100%;
            height: 64px;
            border: 1px solid rgba(49, 49, 49, 1);
            border-top: 0;
            width: 100% !important;

            p {
                font-size: 30px;
                line-height: 62px;
                padding: 0 24px;
                color: rgba(154, 154, 154, 1);
                cursor: pointer;
            }
        }
    }

    .confirm-btn {
        width: 500px;
        height: 48px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 48px;
        margin: 40px auto;
        text-align: center;
        color: #000;
        background: rgba(172, 255, 67, 1);
        cursor: pointer;

        &.un-confirm-btn {
            background: rgba(172, 255, 67, 0.5);
        }
    }
}