<div class="batch-transfer" v-route-loading="confirmLoading">
    <div class="header flex">
        <div class="header-text">
            <h2>批量转账</h2>
            <p class="mt-24">高效便捷，操作简单，快速实现资金的集中调配和分散管理。</p>
        </div>
        <img src="/images/batchTransfer/transfer.png" alt="">
    </div>

    <div class="wallt-id flex">
        <div class="wallt-id-area flex">
            <div class="id">
                账户 ID-ELEVEN
                <div class="id-address flex mt-16">
                    <p class="mr-8">{{status == "connected" ? address : status}}</p>
                    <img v-if="status == 'connected'" @click="copy(address)" src="/images/icons/copy.png" alt="">
                </div>
            </div>
            <p>转账记录</p>
        </div>
    </div>

    <div class="currency mt-60">
        <h3>币种{{walltAddress}}</h3>
        <!-- <a-auto-complete v-model:value="walltAddress" :options="tokenList" placeholder="请选择币种"
            :filter-option="filterOption" /> -->
        <a-select class="select-box" size="small" placeholder="请选择币种" v-model:value="walltAddress"
            @search="getTokenListSearch" showSearch>
            <a-select-option v-for="(item, index) in tokenList" :key="index" :value="item.address">
                {{ item.value }}
            </a-select-option>
        </a-select>
    </div>

    <div class="table-address mt-40">
        <div class="header">
            <h3>请填写详细信息</h3>
            <div class="text-demo mt-10 flex">
                <p class="text">填写收款人地址自动生成序号；请按照顺序填写收款人的地址，并且输入相应的转账金额。</p>
                <p class="demo" @click="lookDemo">查看例子</p>
            </div>
        </div>
    </div>


    <div class="table-list">
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>收款人地址</th>
                    <th>转账金额</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{allEvents}}
                <template v-for="(item,index) in allEvents">
                    <tr>
                        <td>{{index + 1}}</td>
                        <td><input placeholder="收款人地址" type="text" v-model="item.address"></td>
                        <td><input @keypress="onlyAllowNumbers" placeholder="转账金额" type="number" v-model="item.amount">
                        </td>
                        <td @click="deleteAddress(index)">delete</td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="add-address" @click="addAddress">
            <p>+</p>
        </div>
    </div>

    <div class="confirm-btn" :class="!allEvents || !allEvents.length ?'un-confirm-btn':''" @click="confirmAddress">确认
    </div>
</div>



<!-- 登录 -->
<dialogModal v-model="loginWallt" @close="loginWallt = false">
    <div class="connect-wallt pl-25 pr-25" v-for="connector in connectors" :key="connector.id"
        @click="connectLogin({ connector, chainId })">
        {{ connector.name }}
    </div>
</dialogModal>
<!-- 订单确认 -->
<dialogModal title="订单确认" v-model="confirmation" @close="confirmation = false">
    <div class="confirmation-content pl-24 pr-24 pt-24">
        <div class="confirmation-children flex">
            <p class="name">币种：</p>
            <p class="content">{{sendData['name']}}</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">地址总数：</p>
            <p class="content">{{tokenAmountList.length}}</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">交易总数：</p>
            <p class="content">1</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">代币发送总数：</p>
            <p class="content">{{sendData['allAmount']}}</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">代币余额：</p>
            <p class="content">{{sendData['balance']}}</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">您的余额：</p>
            <p class="content">{{sendData['formatted']}}{{sendData['symbolWallt']}}</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">预估消耗：</p>
            <p class="content">{{sendData['gasPrice']}}</p>
        </div>
        <div class="confirmation-children flex">
            <p class="name">手续费：</p>
            <p class="content">{{sendData['fee']}}</p>
        </div>
        <div class="btn">
            确认
        </div>
    </div>
</dialogModal>