<div class="contract-content flex">
  <div class="set-radio">
    <div class="settings input-section pb-10">
      <p class="title title1">
        <strong> * Experimental: </strong><span>Some of the following features are not audited and subject to
          change</span>
      </p>
    </div>
    <div class="settings input-section pb-32 pt-20">
      <p class="title">SETTINGS</p>
      <div class="section-input ml-24 mt-24">
        <p class="mb-8">Name</p>
        <input type="text" @input="dispositionText" v-model="contarctName" />
      </div>
      <div class="section-input ml-24 mt-16 mb-16">
        <p class="mb-8">Voting Delay</p>
        <input type="text" @input="dispositionText" v-model="delayDay" />
      </div>
      <div class="section-input ml-24 mt-16 mb-16">
        <div class="flex-between">
          <p class="mb-8">Voting Period</p>
          <a-tooltip placement="right">
            <template #title>
              <span>Length of period during which people can cast their vote.</span>
            </template>
            <i class="icon-tip"></i>
          </a-tooltip>
        </div>
        <input type="text" v-model="periodWeek" @input="dispositionText" />
      </div>
      <div class="section-input ml-24 mt-16 mb-16">
        <div class="flex-between">
          <p class="mb-8">Proposal Threshold</p>
          <a-tooltip placement="right">
            <template #title>
              <span>Minimum number of votes an account must have to create a
                proposal.</span>
            </template>
            <i class="icon-tip"></i>
          </a-tooltip>
        </div>
        <input type="text" v-model="proposalThreshold" @input="dispositionText" />
      </div>
      <div class="section-input ml-24 mt-16 mb-16">
        <div class="flex-between">
          <p class="mb-8">
            Quorum
            <a-radio-group class="ml-15" v-model:value="quorumType">
              <div class="section-radio flex mb-10">
                <a-radio value="percent">%</a-radio>
                <a-radio value="absolute">#</a-radio>
              </div>
            </a-radio-group>
          </p>
          <a-tooltip placement="right">
            <template #title>
              <span>Quorum required for a proposal to pass.</span>
            </template>
            <i class="icon-tip"></i>
          </a-tooltip>
        </div>
        <input type="text" v-if="quorumType == 'percent'" v-model="proposalPercent" @input="dispositionText" />
        <input type="text" v-if="quorumType == 'absolute'" v-model="proposalAbsolute" @input="dispositionText" />
      </div>
      <div class="section-input ml-24 mt-16 mb-16">
        <div class="flex-between">
          <p class="mb-8">Token decimals:</p>
          <a-tooltip placement="right">
            <template #title>
              <span>Quorum required for a proposal to pass.</span>
            </template>
            <i class="icon-tip"></i>
          </a-tooltip>
        </div>
        <input type="text" v-model="tokenDecimals" @input="dispositionText" />
        <div class="section-select pl-24 mt-24">
          <a-checkbox-group v-model:value="tokenDecimalsType" @change="dispositionText">
            <div class="section-select flex mb-10">
              <a-checkbox value="updatableSettings">Updatable Settings</a-checkbox>
              <a-tooltip placement="right">
                <template #title>
                  <span>Allow governance to update voting settings (delay, period,
                    proposal threshold).</span>
                </template>
                <i class="icon-tip"></i>
              </a-tooltip>
            </div>
            <div class="section-select flex mb-10">
              <a-checkbox value="storage">Storage</a-checkbox>
              <a-tooltip placement="right">
                <template #title>
                  <span>Enable storage of proposal details and enumerability of
                    proposals.<a href="https://docs.openzeppelin.com/contracts/5.x/api/governance#GovernorStorage"
                      target="_blank">Read more.</a></span>
                </template>
                <i class="icon-tip"></i>
              </a-tooltip>
            </div>
          </a-checkbox-group>
        </div>
      </div>
    </div>
    <div class="access-control radio-section pb-32 mt-32">
      <p class="title">VOTES</p>
      <div class="section-select pl-24 mt-24">
        <a-radio-group v-model:value="votesRadio" @change="dispositionText">
          <div class="section-radio flex mb-10">
            <a-radio value="erc20votes">ERC20Votes</a-radio>
            <a-tooltip placement="right">
              <template #title>
                <span>Represent voting power with a votes-enabled ERC20 token.
                  Voters can entrust their voting power to a delegate.<a
                    href="https://docs.openzeppelin.com/contracts/5.x/api/token/erc20#ERC20Votes" target="_blank">Read
                    more.</a></span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
          <div class="section-radio flex mb-10">
            <a-radio value="erc721votes">ERC721Votes</a-radio>
            <a-tooltip placement="right">
              <template #title>
                <span>Represent voting power with a votes-enabled ERC721 token.
                  Voters can entrust their voting power to a delegate.
                  <a href="https://docs.openzeppelin.com/contracts/5.x/api/token/erc721#ERC721Votes"
                    target="_blank">Read more.</a>
                </span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
        </a-radio-group>
      </div>
    </div>
    <div class="access-control radio-section pb-32 mt-32">
      <p class="title">TOKEN CLOCK MODE</p>
      <div class="section-select pl-24 mt-24">
        <a-radio-group v-model:value="tokenClockModeRadio">
          <div class="section-radio flex mb-10">
            <a-radio value="blocknumber">Block Number</a-radio>
            <a-tooltip placement="right">
              <template #title>
                <span>The token uses voting durations expressed as block numbers.
                  <a href="https://docs.openzeppelin.com/contracts/5.x/governance#governor" target="_blank">Read
                    more.</a></span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
          <div class="section-radio flex mb-10 seconds-radio">
            <span>1 block =</span>
            <input class="seconds" type="text" :disabled="limitationsRadio == 'timestamp'" v-model="tokenClockMode" />
            <span>seconds</span>
            <a-tooltip placement="right">
              <template #title>
                <span>Assumed block time for converting voting time periods into
                  block numbers. Block time may drift and impact these periods
                  in the future.</span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
          <div class="section-radio flex mb-10">
            <a-radio value="timestamp">Timestamp</a-radio>
            <a-tooltip placement="right">
              <template #title>
                <span>The token uses voting durations expressed as timestamps.
                  <a href="https://docs.openzeppelin.com/contracts/5.x/governance#timestamp_based_governance"
                    target="_blank">Read more.</a></span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
        </a-radio-group>
      </div>
    </div>
    <div class="access-control radio-section pb-32 mt-32">
      <div class="title flex flex-between">
        <a-checkbox v-model:checked="timelockCheck"
          @change="timeLockRadio?timeLockRadio='':timeLockRadio='openzeppelin'">
          TIMELOCK</a-checkbox>
        <a-tooltip placement="right">
          <template #title>
            <span>Add a delay to actions taken by the Governor. Gives users time to
              exit the system if they disagree with governance decisions.
            </span>
          </template>
          <i class="icon-tip"></i>
        </a-tooltip>
      </div>
      <div class="section-radio pl-24 mt-24">
        <a-radio-group v-model:value="timeLockRadio" @change="dispositionRadio">
          <div class="section-radio flex mb-10">
            <a-radio value="openzeppelin">TimelockController</a-radio>
            <a-tooltip placement="right">
              <template #title>
                <span>Module compatible with OpenZeppelin's TimelockController.
                  Allows multiple proposers and executors, in addition to the
                  Governor itself.
                  <a href="https://docs.openzeppelin.com/contracts/5.x/api/governance#GovernorTimelockControl"
                    target="_blank">Read more.</a></span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
          <div class="section-radio flex mb-10">
            <a-radio value="compound">Compound</a-radio>
            <a-tooltip placement="right">
              <template #title>
                <span>Module compatible with Compound's Timelock contract. Useful
                  if assets and roles are already held in this contract.
                  <a href="https://github.com/compound-finance/compound-protocol/blob/master/contracts/Timelock.sol"
                    target="_blank">Read more.</a></span>
              </template>
              <i class="icon-tip"></i>
            </a-tooltip>
          </div>
        </a-radio-group>
      </div>
    </div>
    <div class="settings input-section pb-32 mt-32">
      <p class="title">INFO</p>
      <div class="section-input ml-10 mt-16">
        <div class="flex-between">
          <p class="mb-8">Security Contact</p>
          <a-tooltip placement="right">
            <template #title>
              <span>Where people can contact you to report security issues. Will
                only be visible if contract metadata is verified.
                <a href="https://github.com/ethereum-lists/contracts/blob/main/README.md#tracking-new-deployments"
                  target="_blank">Read more.</a></span>
            </template>
            <i class="icon-tip"></i>
          </a-tooltip>
        </div>

        <input type="text" placeholder="security@example.com" v-model="contarctSecurityContact"
          @input="dispositionText" />
      </div>
      <div class="section-input ml-10 mt-16 mb-16">
        <p class="mb-8">License</p>
        <input type="text" @input="dispositionText" v-model="contarctLicense" />
      </div>
    </div>
  </div>
  <div class="highlight">
    <highlightjs autodetect :code="solContent"></highlightjs>
  </div>
</div>