.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiTablePagination-root {
  overflow: hidden !important;
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.MuiTableCell-head {
  height: 0.4rem !important;
  line-height: .4rem !important;
  font-size: .2rem !important;
  text-align: center !important;
}

.MuiTableCell-body {
  height: 0.3rem !important;
  line-height: .3rem !important;
  font-size: .2rem !important;
  text-align: center !important;
}

.MuiTablePagination-toolbar{
  height: .4rem !important;
  line-height: .4rem !important;
  font-size: .2rem !important;
}

.MuiTablePagination-caption {
  
  font-size: .2rem !important;
}

.MuiSvgIcon-root {
  width: .4rem !important;
  height: .4rem !important;
}
